@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap");
:root {
  --white: hsl(0, 0%, 100%);
  --lightGray: hsl(212, 45%, 89%);
  --grayishBlue: hsl(220, 15%, 55%);
  --darkBlue: hsl(218, 44%, 22%);
  --fontSize: 0.9375rem;
  --fontWeight: 400;
  --fontBold: 700;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Outfit";
}
main {
  background-color: var(--lightGray);
}
#hero {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}
.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 25rem;
  background-color: var(--white);
  padding: 1rem;
  border-radius: 1rem;
}
.card img {
  width: 100%;
  border-radius: 0.5rem;
  margin: 0 0 2rem 0;
}
.card h1 {
  text-align: center;
  color: var(--darkBlue);
  font-weight: var(--fontBold);
  max-width: 18ch;
  font-size: 1.875rem;
  margin: 0 0 2rem 0;
}
.card p {
  color: var(--grayishBlue);
  text-align: center;
  max-width: 25ch;
  font-size: 1.3rem;
  font-weight: 400;
  margin: 0 0 2rem 0;
}

.attribution {
  text-align: center;
  padding: 0 0 2rem 0;
}
